<div class="project-header">
    <span class="project-title"><%= data.company %></span>
    <span class="project-duration"><%= data.duration %></span>
</div>
<div class="project-header">
    <span class="project-role"><%= data.role %></span>
</div>
<div class="project-main-desc">
<%= data.desc %> 
</div>
<div class="project-desc work">
    <ul class="work-desc-list">
    <% data.lines.forEach((line) => { %>
        <li class="work-desc-line">
            <span><%- line %></span>
        </li>
    <% }); %>
    </ul>
</div>
<div style="margin-top: 10px;">
<% data.tags.forEach((tag) => { %>
    <div class="work-gen"><%- tag %></div>
<% }); %>
</div>