<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo" style="background-image: url('<%= imageUrl %>')"></div>
            <div class="header-title-section">
                <div class="header-title"><%= firstName %> <span class="header-title-lastname"><%= lastName %></span></div>
                <div class="header-subtitle"><%= subTitle %></div>
            </div>
        </div>
        <div class="info-section">
            <div class="info-col info-left">
                <% if (about.intro) { %>
                    <%- include('../components/cat_header', { catName: "About Me" }); %>
                    <div class="cat-def-body"><%= about.intro %></div>
                <% } %>
                <%- include('../components/cat_header', { catName: "Contact" }); %>
                <div class="cat-contact-body" style="margin-bottom:5px">
                    <div class="contact-item">
                        <div class="contact-logo">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="contact-info">
                            <a href="mailto:<%= about.contact.email %>">
                                <%= about.contact.email %>
                            </a>
                        </div>
                    </div>
                    <% if (about.contact.phone) { %>
                    <div class="contact-item">
                        <div class="contact-logo">
                            <i class="fa-solid fa-mobile-screen" aria-hidden="true"></i>
                        </div>
                        <div class="contact-info"><%= about.contact.phone %></div>
                    </div>
                    <% } %>
                </div>
                <%- include('../components/cat_header', { catName: "Links" }); %>
                <div class="cat-list-body">
                    <ul>
                        <% links.forEach((link) => { %>
                        <li><%- include('../components/link', { title: link.title, src: link.src }); %></li>
                        <% }); %>
                    </ul>
                </div>
                <%- include('../components/cat_header', { catName: "Languages" }); %>
                <div class="cat-list-body">
                    <ul class="fa-ul" style="list-style: none;">
                        <% languages.forEach((language) => { %>
                        <li><span class="fa-li"><i class="fa-solid fa-bullhorn" style="font-size: 15px; color:#2e74b5;margin-top: 5px;"></i></span>
                            <%- include('../components/language', { name: language.name, desc: language.desc }); %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <%- include('../components/cat_header', { catName: "Interests" }); %>
                <div class="cat-list-body">
                    <ul>
                        <% interests.forEach((interest) => { %>
                        <li><%= interest %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="info-col info-right">
                <%- include('../components/cat_header', { catName: "Work Experience" }); %>
                <div class="cat-list-body">
                    <ul class="fa-ul" style="list-style: none;">
                    <% workExp.forEach((work) => { %>
                        <li><span class="fa-li"><i class="fa-solid fa-briefcase" style="font-size: 25px;"></i></span>
                        <%-
                            include('../components/work', {
                                data: { company: work.company, role: work.role, duration: work.duration, desc: work.desc, lines: work.lines, tags: work.tags }
                            });
                        %>
                        </li>
                    <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        <%- include('../components/cat_header', { catName: "Education" }); %>
        <div class="cat-list-body">
            <ul class="fa-ul" style="list-style: none;">
                <% education.forEach((edu) => { %>
                <li><span class="fa-li"><i class="fa-solid fa-graduation-cap" style="font-size: 25px;"></i></span>
                    <%-
                    include('../components/edu', { data:
                        { alma: edu.alma, duration: edu.duration, lines: edu.lines }
                    });
                    %>
                </li>
                <% }); %>
            </ul>
        </div>
        <%- include('../components/cat_header', { catName: "Chosen Skills" }); %>
        <% skills.forEach((skill) => { %>
            <div class="cat-skill-item">
                <div class="cat-skill-type"><%= skill.category %></div>
                <div class="cat-skill-body">
                    <% skill.topics.forEach((topic) => { %>
                        <div class="skill-gen"><%= topic %></div>
                    <% }); %>
                </div>
            </div>
        <% }); %>
        <div class="footer" style="margin-top:5px;">
            <%- include('../components/cat_header', { catName: "Courses" }); %>
            <div class="cat-list-body">
                <ul style="columns: 2;">
                    <% courses.forEach((course) => { %>
                    <li>
                        <%- include('../components/ach_item', { desc: course.desc, date: course.date}); %>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <div class="information-clause">
            <div>I agree that my personal data will be processed by <b><%= companyName %></b> in order to recruit for the position I am applying for.</div>
        <div> 
    </div>
    <script type="text/javascript">
        window.addEventListener("load", () => {
            let desc = document.getElementsByClassName("ach-title");
            for (let i = 0; i < desc.length; i++) {
                desc[i].innerHTML = desc[i].innerText;
            };

            let skillItems = document.querySelectorAll(".cat-skill-item");
            if (skillItems) {
                skillItems[0].classList.add("margin-top-extra");
            }

            <%
                Object.keys(theme).forEach(function(key) {
                    if (theme.hasOwnProperty(key)) {
            %>
            document.documentElement.style.setProperty('--theme-<%=key%>', '<%=theme[key]%>');
            <%  }}); %>
        }, false);
    </script>
</body>
</html>
